.component {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    padding: 10px 0;
}
.wrapper {
    flex-grow: 1;
    padding-left: 10px;
}
.plus {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    width: 30px;
    padding-right: 10px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
    user-select: none;
}
.plus:hover {
    color: gray;
}
.dots {
    padding-top: 1px;
    font-size: 30px;
    line-height: 8px;
    color: lightgray;
}
.dots:hover {
    color: gray;
}