.text {
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-size: 16px;*/
    /*line-height: 2px;*/
    /*letter-spacing: -2px;*/
    /*color: deeppink;*/
}

.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
}
.bullet > div{
    display: inline;
}
p {
    display: inline;
}
.bullet{
    margin-left: 0 !important;
}
