.component {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    padding: 10px 0;
    position: relative;
}
.component:hover {

}
.wrapper {
    flex-grow: 1;
    padding-left: 10px;
}
.controller {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    width: 30px;
    padding-right: 10px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
    user-select: none;
}
.controller:hover {
    color: gray;
}
.minus {
    width: auto;
}
.dots {
    padding-top: 1px;
    font-size: 30px;
    line-height: 8px;
    color: lightgray;
}
.dots:hover {
    color: gray;
}

.dropdown {
    width: 320px;
    position: absolute;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 4px 16px rgba(0, 0, 0, 0.15);
    z-index: 5;
    left: 40px;
    top: 30px;
    padding: 3px;
}

.dropdown__item{
    cursor: pointer;
}

.dropdown__item:hover{
    background: #919191;
}
